/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet
and will be used across all viewports.

******************************************************************/

/*************************
 * GENERAL STYLES
 ************************/

html {
	height: 100%;

}

body {
	height: auto;
	overflow-x: hidden;

	#container {
		height: 100%;
		/* styles for mobile nav slide in */
		position: relative;
		@include transition(all 0.25s ease-in-out);
	}
}

/*************************
 * HEADER STYLES
 ************************/

/* Ensure that there is no gap between the header and the admin bar for WordPress versions before 3.8. */
#wpadminbar {
	min-height: 32px;
}

#masthead {}

#inner-header {
	padding: 1em 0;
}

#logo {
	&.h1 {
		margin: 0;
	}
}

#banner {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	.spacer {
		padding-top: 26%; // change this value based on the aspect ratio of your header image
	}
} /* end .banner */

/*************************
 * POSTS & CONTENT STYLES
 ************************/

#content {
	min-height: 600px;
	min-height: 80vh;
}

#inner-content {
	padding: 2em 0;

	/* headers */
	.page-header {}
	.article-header {}

	/* titles */
	.page-title,
	.archive-title,
	.single-title {
		margin-top: 0;
	}

	.search-title {}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		color: #999;
		margin: -1em 0 0;

		time {}
	}

	.tags {}
	.categories {}

	/* entry content */
	.page-content {}
	.entry-content {}

	/* footers */
	.page-footer {}
	.article-footer {}

} /* end #inner-content */

/* Style individual templates */
.home {}
.blog {}
.archive {}
.search {}
.error404 {}

.blog,
.archive,
.search {
	#inner-content {
		article {
			border-bottom: 1px solid #EEE;
			margin-bottom: 1em;
			padding-bottom: 1em;

			&.last-post,
			&.only-post {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}

.single {
	#inner-content {
		.byline {
			margin: -1em 0 1em;
		}
	}
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.sidebar {
	margin-top: 2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	margin: 2.2em 0;
	padding: 0;

	&.first-widget {
		margin: 0 0 2.2em;

		.widgettitle {
			margin-top: 0;
		}
	}

	&.only-widget {
		margin: 0;

		.widgettitle {
			margin-top: 0;
		}
	}

	&.last-widget {
		margin: 2.2em 0 0;
	}

	/* list styles */
	ul,
	ol {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}

			a {}

			/* deep nesting */
			ul,
			ol {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
} /* end .widget */

/*************************
 * FOOTER STYLES
 ************************/

#colophon {
	background-color: #111;
	clear: both;
	color: #999;
}

#inner-footer {
	padding: 2em 0;
}

ul.footer-menu {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0 0 -3px;
		padding: 0;

		a {
			border-left: 1px solid #ccc;
			color: #999;
			display: block;
			line-height: 1;
			padding: 0 0.875em;
		}

		&:first-child a {
			border-left: none;
		}
	}

	ul.sub-menu {
		display: none; // hide child ul as design does not support it
	}
} /* end .footer-menu */

.copyright {
	margin-bottom: 0;
	text-align: center;
}

/* scroll to top link */
#back-top {
	bottom: 10px;
	margin-right: 30px;
	position: fixed;
	right: 0;
	z-index: 9999;

	a {
		background: #000;
		@include border-radius(500px);
		display: block;
		opacity: 0.2;
		text-decoration: none;
		@include transition(all 1s ease-in-out);
		width: 40px;

		&:hover,
		&:focus {
			color: #000;
			opacity: 1;
		}
	}

	.fa {
		color: #FFF;
		display: block;
		font-size: 1.5em;
		height: 40px;
		line-height: 35px;
		margin-bottom: 7px;
		text-align: center;
		width: 40px;
	}

} /* end #back-top */
