/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

/**************
 * Fonts
 **************/

$font__sans: apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
$font__serif: Georgia, Times, 'Times New Roman', serif;

/**************
 * Sizes
 **************/

$size__font-default: 14px;

/**************
 * Colors
 **************/

/* Color Scheme */
$color__body-text: #333;
$color__dark-gray: #444;

$color__body: #f5f5f5;

$color__link: #337ab7;
$color__link-hover: #23527c;

$color__alert-yellow: #f1c40f;
$color__alert-red: #c0392b;
$color__alert-green: #7ad03a;
$color__alert-blue: #2ea2cc;

/* Social Media - http://www.paulund.co.uk/social-media-colours */
$color__facebook: #3B5998;
$color__twitter: #00aced;
$color__linkedin: #007bb6;
$color__google-plus: #dd4b39;
$color__youtube: #bb0000;

/**************
 * Forms
 * Integrated with Select2 and Gravity Forms
 **************/

$input__height: 42px;
$input__border-color: #DDD;
$input__border-focus-color: #999;
$input__bg-color: #F9F9F9;
$input__bg-focus-color: #FFF;

/**************
 * Tables
 **************/

$table__border-color: #DDD;
$table__bg-th-color: #EEE;
$table__bg-even-color: #FFF;
$table__bg-odd-color: #F0F0F0;

/**************
 * Grid Stuff
 **************/

$screen-sm-min: 768px;
$container-sm: 750px;

$screen-md-min: 992px;
$container-md: 970px;

$screen-lg-min: 1200px;
$container-lg: 1170px;

$grid-columns: 12;
$grid-gutter-width: 30px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Our plugin path
$plugins-path: '/wp-content/plugins/';
