/******************************************************************
Site Name:
Author:

Stylesheet: Links Stylesheet

******************************************************************/
a,
a:visited {
	text-decoration: none;
}
a {
	color: $color__link;
}

/* on hover and focus */
a:hover,
a:focus {
	color: $color__link-hover;
	text-decoration: underline;
}

/* on click */
a:active {}

a:link {
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3 );
}

/* read more link */
.read-more {
	white-space: nowrap;
}
