/******************************************************************
Site Name:
Author:

Stylesheet: Main Navigation

On mobile devices, this menu is known as "off-canvas".
It currently slides out from the right.

******************************************************************/

// Menu Toggle
#mobile-menu-button {
	clear: both;
	display: block;
	float: right;
	font-size: 2em;
	line-height: 1;
	margin: 10px;
	overflow: hidden;
	white-space: nowrap;
	color: #eee;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	// Font Awesome Icon
	.fa:before {
		content: "\f0c9"; // bars icon
	}
}

// Base Mobile Styles
#main-navigation {

	background-color: #333;

	ul.menu {
		background-color: #333;
		bottom: 0;
		clear: both;
		display: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: -70%;
		top: 0;
		width: 70%;
		z-index: 1000;

		li {
			border-bottom: 1px solid #111;
			display: block;
			margin: 0;
			padding: 0;

			a {
				color: #999;
				display: inline-block;
				font-size: 14px;
    			padding: 10px 15px;
				text-decoration: none;

				&:hover,
				&:focus {
					
				}
			}

			a.menu-button {
				border-left: 1px solid #111;
				cursor: pointer;
				display: inline-block;
				height: auto;
				margin: 0;
				padding: 15px 0;
				text-align: center;
				width: 20%;

				&:hover,
				&:focus {}
			}

			a.menu-back-button {
				background: #222;
				cursor: pointer;
				display: inline-block;
				padding: 15px;
				text-decoration: none;
				width: 100%;

				&:hover,
				&:focus {}
			}

			&:hover,
			&:focus {}

			&.first-item {}

			&.last-item {}

			&.current-menu-item {
				> a {
					color: #EEE;
				}
			}

			&.current-menu-ancestor {
				> a {
					background-color: #292929;

					
				}
			}

			&.menu-item-no-children {
				a {
					width: 100%;
				}
			}

			&.menu-item-has-children {}

			/* sub menu - child */
			ul.sub-menu {
				background-color: #333;
				bottom: 0;
				display: block;
				margin: 0;
				overflow: hidden;
				padding: 0;
				position: absolute;
				right: -100%;
				top: 0;
				width: 100%;
			}

			/* sub menu - child */
			ul.sub-menu-open {
				right: 0;
			}
		}
	}
}

.cover_image
{
	background-size: cover;
	text-align: center;
	color: white;
	position: relative;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	height: auto;
	width: 100%;
	display: table;
	overflow: hidden;
	padding: 0 20px;
	z-index: 5;

	h1
	{
		font-weight: bold;     
		font-size: 30px;
		text-align: right;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	}
	.cover_subtitle
	{
		font-size: 18px;
		color: #eee;
		font-weight: bold;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
		font-family: Raleway, Arial, sans-serif;
		margin-bottom: 30px;
		text-align: right;
	}
}
.mp_cover_full
{
	/* fall backs*/
	max-height: none;
	height: auto; 

    max-height: 75vh;
    height: 75vh; 

    h1
	{
		font-size: 60px;
		text-align: center;
	}
	.cover_subtitle
	{
		text-align: center;
	}
}
.mp_cover_med
{
    height:500px;
    max-height: 75vh;

    h1
	{
		font-size: 60px;
		text-align: center;
	}
	.cover_subtitle
	{
		text-align: center;
	}

}
.mp_cover_small
{
	/* this is default */
}


.header_offset
{
	position: relative;
	z-index: 2;
	padding-top: 75px;
	padding-bottom: 25px;
	width: 100%;
	display:table-cell;
	vertical-align:middle;
}
.cover_image_center
{
	margin: 0 auto;
}
.cover-dark
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.1);
}


/* Opening Menu */
body.menu-open {
	#main-navigation {
		ul.menu {
			display: block;
		}
	}

	#mobile-menu-button {
		.fa:before {
			content: "\f00d"; // times icon
		}
	}

	#container {
		left: -70%;
	}
}

/* LARGER MOBILE DEVICES */
@media only screen and (min-width: 481px) {}

/* TABLET & SMALLER LAPTOPS */
@media only screen and (min-width: $screen-sm-min) {
	.cover_image
	{
		padding: 0 50px;

		&.mp_cover_full
		{
		    h1
			{
				font-size: 100px;
			}
		}
		&.mp_cover_med
		{
		    h1
			{
				font-size: 100px;
			}

		}	
    }
    
    .cover_subtitle
    {
        font-size: 32px;
    }
    
	#mobile-menu-button {
		display: none !important;
	}
	.header-gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		opacity: 0.4;
		pointer-events: none;
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,1)),color-stop(100%,transparent));
		background: -webkit-linear-gradient(top,rgba(0,0,0,1) 0,transparent 100%);
		background: linear-gradient(to bottom,rgba(0,0,0,1) 0,transparent 100%);
	}

	$menu-top: 20px; 

	body.admin-bar {
		#main-navigation
		{
			top: 32px + $menu-top;
		}
	}
	#main-navigation {
		font-size: 14px;
		white-space: nowrap;
		position: absolute;
		background-color: transparent;
		border: none;
		left: 0;
		top: $menu-top;
		right: 0;
		height: 20px;

		.navbar-brand {
			position: relative;
			z-index: 9999;
			float: left;
			> img 
			{
				max-height: 50px;
			}
		}

		ul.menu {
			box-shadow: none;
			display: inline-block;
			left: 0;
			
			position: relative;
			background-color: transparent;
			width: 100%;
			padding-right: 114px;

			li {
				border-bottom: none;
				float: left;
				display: block;
				position: relative;
				z-index: 1000;
				margin-top: 10px;

				a {
					color: white;
					background-color: transparent;
					padding-top: 5px;
					padding-bottom: 5px;
					margin: 0 5px;
					border-radius: 5px;
					transition: background-color 0.2s ease-in-out, border 0.1s ease-out;

					&:hover,
					&:focus {
						background-color: #D90429;
						color: white;
						text-shadow: 0 0 5px rgba(255,255,255,0.5);
					}
				}

				&.float-right
				{
					float: right;
				}
				&.nav-primary
				{
					> a {
						background-color: #337ab7;
					}
				}

				a.menu-button {
					display: none !important;
				}

				a.menu-back-button {
					display: none !important;
				}


				&.mp_float_right {
					float: right;
				}

                                
				&.first-item {
					a {
						border-left: none;
					}
				}

				&.last-item {

					/* Children */
					ul.sub-menu {
						left: auto;
						right: 0;

						li {

							/* Grand Children */
							ul.sub-menu {
								left: auto;
								right: 99.9%;
							}
						}
					}
				}

				&.current-menu-item {
					> a {
						background-color: #D90429;
						color: white;
					}
				}

				&.current-menu-ancestor {
					> a {
						background-color: #D90429;
						color: white;						
					}
					ul.sub-menu
					{
						.current-menu-item {
							> a {
								background-color: #FFF;
								color: #333;
								border-bottom: 3px solid #D90429;
							}
						}
					}
				}

				&.menu-item-no-children {
					a {
						width: auto;
					}
				}

				&.menu-item-has-children {}



				/*Children*/
				ul.sub-menu {
					background-color: #fff;
					bottom: auto;
					display: none;
					left: 0;
					min-width: 120%;
					overflow: visible;
					position: absolute;
					text-align: left;
					top: 99%;
					width: auto;
					z-index: 1000;
					min-width: 160px;
					padding: 5px 0;
					margin: 2px 0 0;
					border: 1px solid #cccccc;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 4px;
					-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
					-webkit-background-clip: padding-box;
					background-clip: padding-box;


					@include transition(top 1s);

					li {
						display: block;
						width: 100%;
						margin: 0;
						white-space: nowrap;

						a {
							border: none;
							display: block;
							padding-left: 15px;
							padding-right: 1px;
							margin: 0 15px;
							color:  #333;
							border-radius: 0;
							&:hover,
							&:focus {
								background-color: #fff;
								color: #333;
								border-bottom: 3px solid #D90429;
							}
						}
						

						&.first-item {}

						&.last-item {
							a {
								border-bottom: none;
							}
						}

						&:hover,
						&:focus {}

						&.menu-item-no-children {}

						&.menu-item-has-children {}

						/* Grand Children */
						ul.sub-menu {
							left: 99.9%;
							top: 0;
						}
					}
				}
				ul.sub-menu:before
				{
					content: "";
					display: block;
					position: absolute;
					top: -5px;
					left: -25px;
					bottom: -25px;
					right: -25px;
					z-index: -1;
				}


				} /* end .menu li */

				/* Show the child ul */
				li:hover > ul {
					display: table;
				}

				} /* end ul.menu */

				} /* end #main-navigation */
			}

			/* DESKTOP */
			@media only screen and (min-width: $screen-md-min) {}

			/* FULL VIEWING SIZE */
			@media only screen and (min-width: $screen-lg-min) {

				#main-navigation {

					ul.menu {

						li {

							&.first-item {}

							&.last-item {

								/* Children */
								ul.sub-menu {
									left: 0;
									right: auto;

									li {

										/* Grand Children */
										ul.sub-menu {
											left: 99.9%;
											right: auto;
										}
									}
								}
							}

							} /* end .menu li */

							} /* end ul.menu */

							} /* end #main-navigation */

						}
