.expandy
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 19;
}
.mp_img
{
    position: relative;  
    overflow: hidden;
    font-size: 0;
}

.mp_img:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(100%,rgba(0,0,0,1)));
    background-image: linear-gradient(transparent 0%, rgb(0, 0, 0) 100%);
    opacity: .8;
    -webkit-backface-visibility: hidden;
}
.mp_img > span
{
    position: absolute;
    text-shadow: 0 2px 5px black;
    bottom: 12%;
    color: white;
    left: 0;
    padding: 1px 5px;
    padding-left: 15px;
    font-size: 16px;
    z-index: 5;
    transition: padding ease-out 0.2s;
}
.mp_img > span:after
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 50px;
    background-color: #E71D36;
}
.mp_img ~ p
{
    text-align: left;
}
.mp_img img
{
    transition: opacity ease-out 0.2s, transform ease-in 0.3s;
    opacity: 1;
    transform: scale(1.03);
}
.mp_img > .expandy:hover ~ img
{
    opacity: .8;
    transform: scale(1);
}
.mp_img > .expandy:hover ~ span
{
    padding-left: 10px;
}

/* Used to deny people access and shit */
.members_only
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #fff;
    border-radius: 2px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.members_only > h2
{
    margin-top: 0;
}
.members_only img
{
    
}
